page-navigationbuy {

  .background {
    background-image: url('../assets/imgs/f2.png');
    background-size: 100% 100%;


  }

  .scroll-content {
    text-align: center;
  }
  ion-card.card {
    background: rgba(232, 230, 230, 0.9px);
    border-radius: 10px;
  }



  .item{
    background: rgba(232,230,230,0px);

  }





  .with {

    Font-Weight: normal;
  }




}
