page-sousseriadh1 {
  .background {
    background-image: url('../assets/imgs/f3.png');
    background-size: 100% 100%;
  }

  .scroll-content {
    text-align: center;
  }

  ion-card.b1 {
    border-radius: 10px;
  }
  input {
    font-size: 12px;
    font-family: Verdana;
    font-Weight: Bold;
  }
  ion-card.card {
    border-radius: 10px;
  }

  .b2{
    background-color: #f1efff;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: black;
  }
}
